<h1>All Recipes Posted by Our Users</h1>
<div>
    <h3>Filter Recipes:</h3>
    <%= form_tag("/recipes", method: 'get') do %>
        <%= select_tag "user", options_from_collection_for_select(@users, "id", "name"), include_blank: true %>
        <%= submit_tag "Filter" %>
    
    <h3>Order By Creation Date:</h3>
    <%= select_tag "date", options_for_select(['Ascending', "Descending"]), include_blank: true %>
    <%= submit_tag "Filter" %>
    <% end %>
</div>
<ul>
<% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe_path(recipe) %></li>
<% end %>
</ul>
