<h1><%= @recipe.title %></h1>
<div class= "title-container">
<h2>Created By: <%= @recipe.user.name %></h2>
</div>
<table class="center">
<thead>
    <tr>
        <th>Level of Difficulty</th>
        <th>Cook Time</th>
        <th>Serving Size</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><%= @recipe.level %></td>
        <td><%= @recipe.cook_time %></td>
        <td><%= @recipe.serving_size %></td>
    </tr>
</tbody>
</table>

<div class= "title-container">
<h3>Average Rating: <%= @recipe.average_rating %></h3>
</div>
<div class= "title-container">
<%= link_to "Edit Recipe", edit_recipe_path(@recipe) if @recipe.user == current_user %><br>
<%= link_to "Delete Recipe", @recipe, method: :delete, data: {confirm: "Are you sure you want to delete this recipe?"} if @recipe.user == current_user %>
</div>

<div class= "row">
<div class= "column">
<h3>Ingredients:</h3>
<%= @recipe.ingredients_list %>
</div>
<div class="column">
<h3>Directions:</h3>
<%= @recipe.directions %><br><br>
</div>
</div>

<div class= "row">
<div class= "column">
<h3>Categories:</h3>
<ul>
<% @recipe.categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
<% end %>
</ul>
</div>
<div class="column">
<h3>Links to Other Recipes With Similar Ingredients</h3>
<ul>
<% @recipe.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
<% end %>
</ul>
</div>
</div>

<h3>Ratings:</h3>

<ul>
<% @recipe.ratings.each do |rating| %>
    <li><%= rating.score %>/10 - <%= rating.user.name %></li>
<% end %>
</ul>

<h3>Comments:</h3>
<ul>
<% @recipe.comments.each do |comment| %>
    <li><%= comment.user.name %> says: <%= comment.content %></li>
<% end %>
</ul>

<h3>Add Rating Out of 10</h3>
<%= form_for @recipe.ratings.build do |f| %>
    <%= f.hidden_field :recipe_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :score %><br>
    <%= f.submit "Submit Rating" %>
<% end %>

<h3>Add Comment</h3>
<%= form_for @recipe.comments.build do |f| %>
    <%= f.hidden_field :recipe_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label "Please type in your comments regarding this recipe" %><br>
    <%= f.text_area :content %><br>
    <%= f.submit "Submit Comment" %>
<% end %>

<%= link_to "Return to All Recipes", recipes_path %>
