<h1><%= @recipe.title %>
<h2>Created By: <%= @recipe.user.name %></h2>
<table>
<thead>
    <tr>
        <th>Level of Difficulty</th>
        <th>Cook Time</th>
        <th>Serving Size</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><%= @recipe.level %></td>
        <td><%= @recipe.cook_time %></td>
        <td><%= @recipe.serving_size %></td>
    </tr>
</tbody>
</table><br>
<h3>Directions:</h3><br>
<%= @recipe.directions %><br><br>
<h3>Categories:</h3>
<ul>
<% @recipe.categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
<% end %>
</ul>
<%= link_to "Edit Recipe", edit_recipe_path(@recipe) if @recipe.user == current_user %><br>
<%= link_to "Delete Recipe", @recipe, method: :delete, data: {confirm: "Are you sure you want to delete this recipe?"} if @recipe.user == current_user %>
