<h1>Create A New Account</h1>
<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error")%> prohibited this account from being created:</h2>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.label "Name:" %><br>
    <%= f.text_field :name %><br>
    <%= f.label "Email:" %><br>
    <%= f.text_field :email %><br>
    <%= f.label "Password:" %><br>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Create Account" %>
<% end %>