<h1>Add Ingredients</h1>
<%= form_for @ingredient do |f| %>
    <%= render partial: "users/error", locals: {error_term: @ingredient} %>
    <%= f.label "Ingredient Name:" %><br>
    <%= f.text_field :name %><br><br>
    <%= f.submit "Submit Ingredient" %>
<% end %>
