<!DOCTYPE html>
<html>
  <head>
    <title>Cayenne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'main.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
  <header>
           <img src="https://cdn.shopify.com/s/files/1/1068/6100/products/cayennepepper_1024x1024.jpg?v=1448195713">
            <nav>
                <ul>
                    <li><%= link_to "Home", user_path(current_user) %></li>
                    <li><%= link_to "See All Recipes", recipes_path %></li>
                    <li><%= link_to "Add New Recipes", new_recipe_path %></li>
                    <li><%= link_to "Add New Ingredients Manually", new_ingredient_path %></li>
                    <li><%= link_to "Add New Categories Manually", new_category_path %></li>
                    <li><%=link_to "Logout", logout_path %></li>
                </ul>
            </nav>
        </header>
    <%= yield %>
  </body>
</html>